@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/modals.scss";

$width: 1020px;

:host {
    cursor: pointer;
    
    .photo-container {
        position: absolute;
        @include blockSize(620px, $width);
        top: calc(50% - 310px);
        left: calc(50% - 510px);
        cursor: default;
    
        .modal-photo {
            @include blockSize(inherit, inherit);
        }

        .description {
            position: absolute;
            top: calc(580px);
            width: $width;
            height: 40px;
            font-family: "Nunito", sans-serif;
            font-size: $large;
            color: #ececec;
            background-color: rgb(146, 146, 146, .5);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
