<div class="post-container" [class.admin-settings]="!isBlogPage">
    <figure class="post-image-container" *ngIf="isBlogPage">
        <img
            class="post-image"
            [src]="article.photo"
            alt="article-image"
        />
    </figure>
    <section class="post-description-container">
        <header class="post-header-container">
            <p class="post-auther">{{ article.auther }}</p>
            <h2 class="post-header">{{ article.header }}</h2>
        </header>
        <article class="text-description">
            {{ article.article | wordsSlicer }}
        </article>
        <p class="post-date" [class.admin-date]="!isBlogPage">
            <span>{{ article.releaseDate | date: 'EEEE LLLL dd yyyy, hh zzz'}}</span>
            <span *ngIf="isBlogPage">, The Sunday Times</span>
        </p>
    </section>
</div>
