@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

:host {
    display: block;
    @include blockSize(inherit, 100%);
    background-color: $cream;

    .admin-dashboard-content {
        min-height: 100vh;
        width: $external-container;
        margin: 0 auto;
        background-color: $white;

        .dashboard-header {
            width: $external-container;
            padding-top: 40px;
            background-color: $white;

            .internal-header-container {
                width: 762px;
                margin: 0 auto;

                .header {
                    margin-top: 0;
                    padding-top: 40px;
                    margin-bottom: 10px;
                    text-align: center;
                    font-family: "DM Serif Display", serif;
                    font-size: 40px;
                    font-weight: 400;
                    letter-spacing: -1px;
                }
    
                .slogan-text {
                    margin: 0;
                    margin-bottom: 30px;
                    font-family: 'Cormorant SC', serif;
                    font-size: $large;
                    line-height: 27px;
                    text-align: center;
                }
            }
        }

        .articles-container {
            width: 762px;
            margin: 0 auto;

            .search-field {
                @include blockSize(40px, 100%);
                padding: 0;
                padding-left: 10px;
                font-family: 'Noto Serif Display', serif;
                font-size: $small;
                font-weight: 500;
                border: none;
                border: 1px solid $medium-grey;
                box-sizing: border-box;
                outline: none;
                background-color: $white;
                color: $black;
            }

            .paggination-container {
                @include blockSize(50px, $internal-container);
                margin: 0 auto;
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .paggination-dashboard {
                    font-family: 'Nunito', sans-serif;
                    font-size: $small;
                    font-weight: 400;
                    color: $dark-grey-1;
                }
    
                .button-invisible {
                    visibility: hidden;
                }
    
                &:last-child {
                    padding-top: 0;
                    border-top: 0.5px solid rgb(138, 138, 138);
                }
            }

            .articles-section {
                display: flex;
                flex-direction: column-reverse;
            }

            .article {

                .edit-buttons-container {
                    padding-bottom: 10px;
                    display: flex;
                    justify-content: space-between;
    
                    .edit-button {
                        padding: 5px 10px 5px 0;
                        border: none;
                        font-family: "Nunito", sans-serif;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 1;
                        color: $dark-blue;
                        background-color: $white;
                        cursor: pointer;
    
                        &.remove {
                            padding-left: 10px;
                            color: $danger;
                        }
                    }  
                }
            }
        }
    }
}
