<section class="admin-dashboard-content">
    <header class="dashboard-header">
        <div class="internal-header-container">
            <h2 class="header">Welcome to administrator dashboard</h2>
            <p class="slogan-text">
                Dear Administrator, you can<br/>
                Create, Read, Update, Delete Your Articles here.
            </p>
        </div>
    </header>

    <ng-template></ng-template>

    <div class="articles-container">
        <input class="search-field" type="text" [(ngModel)]="searchRequest" placeholder="Search">
        <section *ngIf="articles; else loader">
            <div class="paggination-container">
                <app-pagination-button
                    [class.button-invisible]="pageNumber === 1"
                    [buttonType]="'Previous'"
                    (click)="onPageChange('Previous')"
                ></app-pagination-button>
        
                <div class="paggination-dashboard">
                    {{ "Showing " + (paginationValues.valueFrom + 1) + " - " + (paginationValues.valueTo) + " of " + articles.length }}
                </div>

                <app-pagination-button
                    [class.button-invisible]="articles.length <= pageNumber * 10"
                    [buttonType]="'Next'"
                    (click)="onPageChange('Next')"
                ></app-pagination-button>
            </div>

            <section class="articles-section">
                <div class="article" *ngFor="let article of articles | pagination: paginationValues | articleSearch: searchRequest">
                    <app-article class="post" [article]="article" [routerLink]="['/post', article.id]"></app-article>

                    <div class="edit-buttons-container">
                        <button class="edit-button" [routerLink]="['/admin', 'post', article.id, 'edit']">
                            Edit article
                        </button>
                        <button class="edit-button remove" (click)="removeArticle(article.id)">
                            Remove article
                        </button>
                    </div>
                </div>
            </section>

            <div class="paggination-container">
                <app-pagination-button
                    [class.button-invisible]="pageNumber === 1"
                    [buttonType]="'Previous'"
                    (click)="onPageChange('Previous')"
                ></app-pagination-button>
        
                <app-pagination-button
                    [class.button-invisible]="articles.length <= pageNumber * 10"
                    [buttonType]="'Next'"
                    (click)="onPageChange('Next')"
                ></app-pagination-button>
            </div>
        </section>
    </div>
</section>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
