<!-- Articles -->
<section class="admin-dashboard-content">
    <header class="dashboard-header">
        <div class="internal-header-container">
            <h2 class="header">Welcome to administrator dashboard</h2>
            <p class="slogan-text">
                Dear Administrator, you can<br />
                Create, Read, Update, Delete Your Articles here.
            </p>
        </div>
    </header>

    <div class="articles-container">
        <input class="search-field" type="text" [(ngModel)]="searchRequest" placeholder="Search">
        <section *ngIf="articles; else loader">
            <div class="paggination-container">
                <button class="page-button" [class.button-invisible]="pageNumber === 1" (click)="onPageChange('Previous')">
                    <img class="button-image previous" src="../../../../assets/next-page.png" alt="next-page">
                    <span class="button-text">Previous page</span>
                </button>
        
                <div class="paggination-dashboard">
                    {{ "Showing " + (pagginationValues.valueFrom + 1) + " - " + (pagginationValues.valueTo) + " of " + articles.length }}
                </div>
        
                <button class="page-button" [class.button-invisible]="articles.length <= pageNumber * 10" (click)="onPageChange('Next')">
                    <span class="button-text">Next page</span>
                    <img class="button-image" src="../../../../assets/next-page.png" alt="next-page">
                </button>
            </div>

            <!-- Articles List -->
            <section class="articles-section">
                <div class="article" *ngFor="let article of articles | paggination: pagginationValues | articleSearch: searchRequest">
                    <app-post class="post" [article]="article" [routerLink]="['/post', article.id]"></app-post>

                    <div class="edit-buttons-container">
                        <button class="edit-button" [routerLink]="['/admin', 'post', article.id, 'edit']">
                            Edit article
                        </button>
                        <button class="edit-button remove" (click)="removeArticle(article.id)">
                            Remove article
                        </button>
                    </div>
                </div>
            </section>

            <!-- Paggination -->
            <div class="paggination-container">
                <button class="page-button" [class.button-invisible]="pageNumber === 1" (click)="onPageChange('Previous')">
                    <img class="button-image previous" src="../../../../assets/next-page.png" alt="next-page">
                    <span class="button-text">Previous page</span>
                </button>
        
                <button class="page-button" [class.button-invisible]="articles.length <= pageNumber * 10" (click)="onPageChange('Next')">
                    <span class="button-text">Next page</span>
                    <img class="button-image" src="../../../../assets/next-page.png" alt="next-page">
                </button>
            </div>
        </section>
    </div>
</section>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>