<section *ngIf="articles; else loader">
    <header>
        <h2>Articles</h2>
        <input type="text" [(ngModel)]="searchRequest">
    </header>

    <div *ngFor="let article of articles | articleSearch: searchRequest">
        <article>
            <p>{{ article.auther }}</p>
            <h3>{{ article.header }}</h3>
            <div>{{ article.article }}</div>
            <div>{{ article.releaseDate }}</div>
            <button [routerLink]="['/admin', 'post', article.id, 'edit']">Open article</button>
            <button (click)="removeArticle(article.id)">Remove article</button>
            <img [src]="article.photo" alt="photo">
        </article>
    </div>
</section>

<ng-template #loader>
    <div>Loading...</div>
</ng-template>
