:host {
    display: block;
    width: 1022px;
    margin: 0 auto;
}

header {
    display: flex;
    background-color: black;
    color: white;
    padding-left: 20px;
    height: 40px;
}

h2 {
    display: flex;
    align-items: center;
    margin: 0;
    outline: none;
    cursor: default;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-left: 10px;

    li {
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: 40px;
        padding: 0 20px;
        border-right: .5px solid white;
        font-size: 16px;
        letter-spacing: 1px;
        list-style: none;

        &:hover {
            cursor: pointer;
            color: black;
            background-color: white;
        }
    }
}

footer {
    height: 100px;
    background-color: black;
}
