<!-- Global Website Header -->
<header class="global-header-with-nav">
    <div class="header-wrapper">
        <nav class="global-navigation-container">
            <a class="global-logo-link" [routerLink]="['/']">
                <img class="global-logo-image" src="../../../assets/header-logo.png" alt="header-logo">
            </a>
            <ul class="global-nav-list" *ngIf="authService.isAuth()">
                <li class="nav-list-item">
                    <a class="nav-link" [routerLink]="['/admin', 'dashboard']">To dashboard</a>
                </li>
            </ul>
        </nav>

        <div class="additional-nav-content">
            <a
                class="admin-link"
                *ngIf="!authService.isAuth(); else logOutButton"
                [routerLink]="['/admin', 'login']"
            >
                Log In
            </a>
            <input
                class="search-field"
                type="text"
                placeholder="Search"
                colorObserver
                [(ngModel)]="blogService.searchRequest"
            />
        </div>
    </div>
</header>

<!-- Main (Changing) Content -->
<main>
    <router-outlet></router-outlet>
</main>

<!-- Global Website Footer -->
<app-global-footer></app-global-footer>

<ng-template #logOutButton>
    <a class="admin-link" (click)="logOut($event)">Log out</a>
</ng-template>
