<!-- Global Website Header -->
<header class="global-header-with-nav">
    <div class="header-wrapper">
        <nav class="global-navigation-container">
            <a class="global-logo-link" [routerLink]="['/']">
                <img class="global-logo-image" src="../../../assets/header-logo.png" alt="header-logo">
            </a>
            <ul class="global-nav-list" *ngIf="authService.isAuth()">
                <li class="nav-list-item">
                    <a class="nav-link" [routerLink]="['/admin', 'dashboard']">Dashboard</a>
                </li>
            </ul>
        </nav>

        <div class="additional-nav-content">
            <app-logout-button></app-logout-button>
            <input
                class="search-field"
                type="text"
                placeholder="Search"
                colorObserver
                [(ngModel)]="blogService.searchRequest"
            />
        </div>
    </div>
</header>

<!-- Main (Changing) Content -->
<main>
    <router-outlet></router-outlet>
</main>

<!-- Global Website Footer -->
<app-global-footer></app-global-footer>
