<!-- Admin Panel Header -->
<div class="navigation-wrapper">
<header class="admin-header-with-nav" *ngIf="authService.isAuth()">
        <nav class="admin-page-navigation">
            <ul class="admin-nav-list">
                <li class="nav-list-item">
                    <a class="nav-link" [routerLink]="['/admin', 'dashboard']">Dashboard</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" [routerLink]="['/admin', 'create']">Create</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" [routerLink]="['/']">Main page</a>
                </li>
            </ul>

            <button class="log-out-link" (click)="logOut($event)">Log out</button>
        </nav>
</header>
</div>

<!-- Login Form -->
<main class="admin-content">
    <router-outlet></router-outlet>
</main>
