<!-- Admin Panel Header -->
<header class="navigation-container" *ngIf="authService.isAuth()">
    <div class="admin-header-with-nav">
        <nav class="admin-page-navigation">
            <div class="navigation-container">
                <a class="global-logo-link" [routerLink]="['/']">
                    <img class="global-logo-image" src="../../../assets/header-logo.png" alt="header-logo">
                </a>
                <ul class="admin-nav-list">
                    <li class="nav-list-item">
                        <a class="nav-link" [routerLink]="['/']">Main page</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-link" [routerLink]="['/admin', 'dashboard']">Dashboard</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-link" [routerLink]="['/admin', 'create']">Create</a>
                    </li>
                </ul>
            </div>

            <button class="log-out-link" (click)="logOut($event)">Log out</button>
        </nav>
    </div>
</header>

<!-- Admin Panel Content -->
<main class="admin-content">
    <router-outlet></router-outlet>
</main>

<!-- Admin Panel Footer -->
<footer>
    <app-scroll-button *ngIf="adminService.isFeatched$ | async" (click)="adminService.goToScreenTop()"></app-scroll-button>
</footer>
