@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

:host {
    display: block;
    height: inherit;

    .navigation-container {
        @include blockSize(40px, 100%);
        position: fixed;
        z-index: 10;
        background-color: $black;

        .admin-page-navigation {
            @include blockSize(inherit, $external-container);
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .admin-nav-list {
                height: inherit;
                margin: 0;
                padding: 0;
                display: flex;

                .logo-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .global-logo-image {
                        @include blockSize(20px, 170px);
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .nav-list-item {
                    list-style: none;
                    box-sizing: border-box;
                    border-left: 0.5px solid $white;
                    color: $white;

                    .nav-link {
                        height: 100%;
                        padding: 0 10px;
                        font-family: 'Noto Serif Display', serif;
                        font-size: $small;
                        font-weight: 500;
                        letter-spacing: 0.3px;
                        text-decoration: none;
                        color: inherit;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:hover {
                        background-color: #F3F2F0;
                        color: $black;
                    }

                    &:last-child {
                        border-right: 0.5px solid $white;
                    }
                }
            }

            .auth-button-container {
                height: inherit;

                .auth-button {
                    height: inherit;
                    color: $white;
                }
            }
        }
    }

    .admin-content {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
