<!-- Admin Panel Header -->
<header class="admin-header-with-nav" *ngIf="authService.isAuth()">
    <div class="header-wrapper">
        <nav class="admin-page-navigation">
            <ul class="admin-nav-list">
                <li class="nav-list-item">
                    <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/admin', 'dashboard']">Dashboard</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/admin', 'create']">Create</a>
                </li>
                <li class="nav-list-item log-out">
                    <a class="nav-link" href="#" (click)="logOut($event)">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Login Form -->
<main class="admin-content">
    <router-outlet></router-outlet>
</main>
