<app-scroll-button *ngIf="articlesService.articlesStorage$ | async" (click)="goToScreenTop()"></app-scroll-button>

<div class="footer-links-container">
    <div class="footer-links-content">
        <img class="footer-logo-image" src="../../../assets/footer-logo.png" alt="footer-logo">
        <h3 class="contacts-header">get in touch</h3>
        <ul class="footer-links-list">
            <li class="footer-list-item">
                <a class="footer-link" href="https://github.com/emmat-york" target="_blank">GitHub</a>
            </li>
            <li class="footer-list-item">
                <a class="footer-link" href="https://www.linkedin.com/in/andrey-filimonchik-35a033135/"
                    target="_blank">LinkenIn</a>
            </li>
            <li class="footer-list-item">
                <a class="footer-link" href="https://www.instagram.com/emmat_york/" target="_blank">Instagram</a>
            </li>
            <li class="footer-list-item">
                <a class="footer-link" href="https://vk.com/emmat_york" target="_blank">VK</a>
            </li>
        </ul>
        <ul class="contacts-list">
            <li class="contact-list-item">Location: Tbilisi, Georgia</li>
            <li class="contact-list-item">Email: AndrewReed1@yandex.ru</li>
            <li class="contact-list-item">Tel: +995 595-41-81-73</li>
            <li class="contact-list-item">Company: LeverX, Int.</li>
            <li class="contact-list-item">Position: Software Engineer</li>
        </ul>
    </div>
</div>
