<form class="admin-form-group" [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
    <header class="form-group-header">
        <img class="admin-logo-image" src="../../../../assets/logo-black.png" alt="header-logo">
        <h2 class="log-in-header">Log in</h2>
    </header>

    <div class="additional-errors" *ngIf="(authService.loginErrors$ | async) as errorMessage">
        {{ errorMessage }}
    </div>

    <div class="additional-errors" *ngIf="guardMessage">
        {{ guardMessage }}
    </div>

    <section class="form-controls-container">
        <div class="form-control-wrapper">
            <div class="form-control">
                <label class="label" for="email">Email</label>
                <input
                    class="control"
                    type="text"
                    name="email"
                    id="email"
                    formControlName="email"
                    placeholder="EMAIL"
                />
            </div>

            <div class="error" *ngIf="loginFormGroup.controls['email'].touched
                && loginFormGroup.controls['email'].invalid">
                <span *ngIf="loginFormGroup.controls['email'].errors?.['email']">
                    Please, enter correct email.
                </span>
            </div>
        </div>

        <div class="form-control-wrapper">
            <div class="form-control">
                <label class="label" for="password">Password</label>
                <input
                    class="control"
                    [type]="loginFormGroup.value.checkbox ? 'text' : 'password'"
                    name="password"
                    id="password"
                    formControlName="password"
                    placeholder="PASSWORD"
                />
            </div>

            <div class="error" *ngIf="loginFormGroup.controls['password'].touched
                && loginFormGroup.controls['password'].invalid">
                <span *ngIf="loginFormGroup.controls['password'].errors?.['minlength']">
                    Password must be more than {{ minPasswordLength }} symbols.
                </span>
            </div>
        </div>

        <div class="form-control-wrapper">
                <input
                    class="checkbox-control"
                    type="checkbox"
                    name="checkbox"
                    id="checkbox"
                    formControlName="checkbox"
                />
                <label class="checkbox-label" for="checkbox">Show password</label>
        </div>
    </section>

    <div class="submit-button-container">
        <button class="submit-button" type="submit" [disabled]="loginFormGroup.invalid || isSubmitted">
            log in
        </button>
    </div>

    <a class="back-link" [routerLink]="['/']">Return back</a>
</form>
