@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

:host {
    display: block;
    background-color: $white;

    .loader-wrapper {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .loader-text {
            margin-top: 10px;
            font-family: 'Noto Serif Display', serif;
            font-size: $medium;
            font-weight: 400;
        }
    }
}
