@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.admin-link {
    height: 100%;
    padding: 0 20px;
    font-family: 'Nunito', sans-serif;
    font-size: $medium;
    font-weight: 400;
    text-decoration: none;
    background-color: #1573A2;;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
