<section class="create-page-container">
    <form class="create-form-group" [formGroup]="articleFormGroup" (ngSubmit)="onFormSubmit()">
        <header class="create-page-header">
            <h2 class="header">Create article</h2>
        </header>

        <div class="form-control-wrapper">
            <label class="label" for="auther">Auther</label>
            <input class="control" id="auther" type="text" formControlName="auther">
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="header">Header</label>
            <input class="control" id="header" type="text" formControlName="header">
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="article">Article</label>
            <textarea class="control textarea" id="article" cols="20" rows="15" formControlName="article"></textarea>
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="photo">Photo</label>
            <input class="control" type="text" id="photo" formControlName="photo">
        </div>

        <button class="submit-button" type="submit" [disabled]="articleFormGroup.invalid || isSubmitted">Create article</button>
    </form>
</section>
