<section class="create-page-container">
    <form class="create-form-group" [formGroup]="articleFormGroup" (ngSubmit)="onFormSubmit()">
        <header class="create-page-header">
            <h2 class="header">Create article</h2>
        </header>

        <div class="form-control-wrapper">
            <label class="label" for="auther">Auther</label>
            <input class="control" id="auther" type="text" formControlName="auther">
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="auther-link">Auther's link</label>
            <input class="control" id="auther-link" type="text" formControlName="autherLink">
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="header">Header</label>
            <input class="control" id="header" type="text" formControlName="header">
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="previewText">Preview text</label>
            <input class="control" id="previewText" type="text" formControlName="previewText">
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="article">Article</label>
            <editor id="article" [init]="{base_url: '/tinymce', suffix: '.min'}" formControlName="article"></editor>
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="photo">Photo</label>
            <input class="control" type="text" id="photo" formControlName="photo">
        </div>

        <div class="form-control-wrapper">
            <label class="label" for="photoDescription">Photo description</label>
            <input class="control" type="text" id="photoDescription" formControlName="photoDescription">
        </div>

        <button class="submit-button" type="submit" [disabled]="articleFormGroup.invalid || isSubmitted">Create article</button>
    </form>
</section>
