@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.pagination-button {
    padding: 0;
    border: none;
    background-color: $white;
    display: flex;
    align-items: center;
    cursor: pointer;

    .button-text {
        font-family: 'Nunito', sans-serif;
        font-size: $medium;
        font-weight: 500;
        line-height: 1;
        color: $dark-blue;
    }

    .button-image {
        @include blockSize(18px, 18px);
    }
}
