<section class="article-container" *ngIf="article; else loader">
    <h2 class="article-header">{{ article.header }}</h2>
    <p class="article-release-date">
            <a class="authel-link" [href]="article.autherLink" target="_blank">{{ article.auther }}</a>
        <span> | {{ article.releaseDate| date: 'EEEE LLLL dd yyyy, hh zzz' }}, The Sunday Times</span>
    </p>
    <img class="article-image" [src]="article.photo" alt="article-image" (click)="onOpenArticleImage()">
    <div class="photo-description">{{ article.photoDescription }}</div>
    <article class="article" [innerHTML]="article.article"></article>
</section>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
