@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

:host {
    display: block;
    @include blockSize(inherit, $external-container);
    margin: 0 auto;
    background-color: $white;

    .article-container {
        width: $internal-container;
        margin: 0 auto;
        padding-bottom: 20px;

        .article-header {
            margin: 0;
            margin-bottom: 20px;
            padding-top: 30px;
            font-family: "DM Serif Display", serif;
            font-size: 40px;
            text-align: center;
        }

        .article-release-date {
            margin-bottom: 30px;
            font-family: 'Nunito', sans-serif;
            font-size: $small;
            color: $dark-grey-1;
            text-align: center;

            .authel-link {
                color: $dark-blue;
                cursor: pointer;
                text-decoration: none;
            }

        }

        .article-image {
            display: block;
            padding-bottom: 20px;
        }

        .photo-description {
            position: relative;
            font-family: "Nunito", sans-serif;
            font-size: $large;
            color: dimgray;
            text-align: center;
        }

        .article {
            padding-bottom: 20px;
            font-family: 'Ibarra Real Nova', serif;
            font-size: 22px;
        }
    }
}
