@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

:host {
    display: block;
    width: $external-container;
    margin: 0 auto;

    .articles-container-wrapper {
        width: $external-container;
        margin: 0 auto;
        background-color: $white;

        .paggination-container {
            @include blockSize(50px, $internal-container);
            margin: 0 auto;
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .paggination-dashboard {
                font-family: 'Nunito', sans-serif;
                font-size: $small;
                font-weight: 400;
                color: $dark-grey-1;
            }

            .page-button {
                padding: 0;
                border: none;
                background-color: $white;
                display: flex;
                align-items: center;
                cursor: pointer;

                .button-text {
                    font-family: 'Nunito', sans-serif;
                    font-size: $medium;
                    font-weight: 500;
                    line-height: 1;
                    color: $dark-blue;
                }

                .button-image {
                    @include blockSize(18px, 18px);

                    &.previous {
                        transform: rotate(180deg);
                    }
                }
            }

            .button-invisible {
                visibility: hidden;
            }

            &:last-child {
                padding-top: 0;
                border-top: 0.5px solid rgb(138, 138, 138);
            }
        }

        .articles-section {
            display: flex;
            flex-direction: column;

            .article-container {
                width: $internal-container;
                margin: 0 auto;
    
                .article {
                    outline: none;
                }
            }
        }
    }
}
