@import "../../../../common/styles-variables.scss";
@import "../../../../common/mixins.scss";

:host {
    display: block;
    width: $external-container;
    margin: 0 auto;

    .auther-container-wrapper {
        height: 302px;
        padding-top: 100px;
        padding-bottom: 40px;
        background-color: rgba(249, 249, 249);
        display: flex;
        flex-direction: column;
        align-items: center;

        .auther-container-header {
            width: $internal-container;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .auther-header-image {
                @include blockSize(100px, 100px);
                border-radius: 50px;
                margin-bottom: 20px;
            }

            .auther-name-header {
                margin: 0;
                font-family: 'DM Serif Display', serif;
                font-size: 40px;
                font-weight: 400;
                letter-spacing: -1px;
            }

            .additional-auther-info {
                margin-top: 5px;
                margin-bottom: 0;
                font-family: 'Cormorant SC', serif;
                font-size: $small;
                line-height: 14px;
                text-transform: uppercase;
                color: $dark-grey-1;
            }

            .auther-main-link {
                margin: 10px 0;

                .fa-brands {
                    color: $dark-blue;
                }

                .twitter-link {
                    font-family: 'Nunito', sans-serif;
                    font-size: $medium;
                    font-weight: 300;
                    text-decoration: underline;
                    color: rgb(29, 29, 27);
                }
            }

            .auther-bio {
                margin: 0;
                font-family: 'Cormorant SC', serif;
                font-size: $large;
                line-height: 27px;
                text-align: center;
                color: rgba(51, 51, 51);
            }
        }
    }

    .posts-container-wrapper {
        width: $external-container;
        margin: 0 auto;
        background-color: $white;

        .paggination-container {
            @include blockSize(50px, $internal-container);
            margin: 0 auto;
            padding-top: 30px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .paggination-dashboard {
                padding-right: 200px;
                font-family: 'Nunito', sans-serif;
                font-size: $small;
                font-weight: 400;
                color: $dark-grey-1;
            }

            .next-page-button {
                padding: 0;
                border: none;
                background-color: $white;
                display: flex;
                align-items: center;
                cursor: pointer;

                .button-text {
                    font-family: 'Nunito', sans-serif;
                    font-size: $medium;
                    font-weight: 500;
                    line-height: 1;
                    color: $dark-blue;
                }

                .next-button-image {
                    @include blockSize(18px, 18px);
                }
            }

            &:last-child {
                padding-top: 0;
                border-top: 0.5px solid rgb(138, 138, 138);
            }
        }

        .posts-container {
            width: $internal-container;
            margin: 0 auto;

            .post {
                outline: none;
            }
        }
    }
}
