<!-- Articles List -->
<section class="articles-container-wrapper" *ngIf="articles; else loader">
    <div class="paggination-container">
        <div class="paggination-dashboard">Showing 1 - 10 of {{ articles.length }} results</div>
        <button class="next-page-button">
            <span class="button-text">Next page</span>
            <img class="next-button-image" src="../../../../assets/next-page.png" alt="next-page">
        </button>
    </div>

    <section class="articles-section">
        <div class="article-container" *ngFor="let article of articles| articleSearch: blogService.searchRequest">
            <app-post class="article" [isBlogPage]="true" [article]="article" [routerLink]="['/post', article.id]">
            </app-post>
        </div>
    </section>

    <div class="paggination-container">
        <button class="next-page-button">
            <span class="button-text">Next page</span>
            <img class="next-button-image" src="../../../../assets/next-page.png" alt="next-page">
        </button>
    </div>
</section>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>