<article class="auther-container-wrapper">
    <header class="auther-container-header">
        <img class="auther-header-image" src="../../../../assets/Jeremy_Clarkson.jpg" alt="Jeremy_Clarkson">
        <h1 class="auther-name-header">Jeremy Clarkson</h1>
        <h3 class="additional-auther-info">
            columnist
        </h3>
        <div class="JC-connection">
            <i class="fa-brands fa-twitter"></i>
            <a class="twitter_link" href="https://twitter.com/JeremyClarkson" target="_blank">@JeremyClarkson</a>
        </div>
        <p class="auther-bio">
            The nation’s favourite motoring journalist, Jeremy Clarkson,
            writes a column in <i>The Sunday Times</i> News Review,
            as well as his weekly car reviews in the paper. Jeremy is also
            a television presenter. His reviews rarely sit
            on the fence.
        </p>
    </header>
</article>

<section class="posts-container-wrapper">
    <div class="paggination-container">
        <div class="paggination-results">Showing 1 - 10 of 168 results</div>
        <button class="next-page-button">Next page ></button>
    </div>

    <div class="posts-container">
        <app-post class="post" [routerLink]="['/post', 10]"></app-post>
        <app-post class="post" [routerLink]="['/post', 10]"></app-post>
        <app-post class="post" [routerLink]="['/post', 10]"></app-post>
        <app-post class="post" [routerLink]="['/post', 10]"></app-post>
    </div>
</section>
