<!-- Articles List -->
<section class="posts-container-wrapper" *ngIf="articles; else loader">
    <div class="paggination-container">
        <div class="paggination-dashboard">Showing 1 - 10 of {{ articles.length }} results</div>
        <button class="next-page-button">
            <span class="button-text">Next page</span>
            <img class="next-button-image" src="../../../../assets/next-page.png" alt="next-page">
        </button>
    </div>

    <div class="posts-container" *ngFor="let article of articles| articleSearch: blogService.searchRequest">
        <app-post class="post" [isBlogPage]="true" [article]="article" [routerLink]="['/post', article.id]"></app-post>
    </div>

    <div class="paggination-container">
        <button class="next-page-button">
            <span class="button-text">Next page</span>
            <img class="next-button-image" src="../../../../assets/next-page.png" alt="next-page">
        </button>
    </div>
</section>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
