@import "../../../../common/styles-variables.scss";
@import "../../../../common/mixins.scss";

:host {
    display: block;
    @include blockSize(inherit, $external-container);
    margin: 0 auto;
    background-color: $white;

    .article-container {
        width: $internal-container;
        margin: 0 auto;
        padding-bottom: 20px;

        .article-header {
            margin: 0;
            margin-bottom: 20px;
            padding-top: 30px;
            font-family: "DM Serif Display", serif;
            font-size: 40px;
            text-align: center;
        }

        .article-release-date {
            margin-bottom: 30px;
            font-family: 'Nunito', sans-serif;
            font-size: $small;
            color: $dark-grey-1;
            text-align: center;

            .auther {
                color: $dark-blue;
            }
        }

        .article-image {
            display: block;
            width: 708px;
            margin: 0 auto;
            padding-bottom: 40px;
        }

        .article {
            padding-bottom: 20px;
            font-family: 'Nunito', sans-serif;
            font-size: 21px;
            line-height: 1.5;
            word-spacing: 4;
        }

        .return-back-button {
            display: block;
            margin: 0 auto;
            padding: 0;
            border: none;
            font-family: 'Nunito', sans-serif;
            font-size: $large;
            background-color: inherit;
            color: $dark-blue;
            cursor: pointer;
        }
    }
}
