// === Color variables ===
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$light-grey: rgba(249, 249, 249);
$medium-grey: #d0cece;
$dark-grey-1: rgb(105, 105, 105);
$dark-grey-2: rgb(61,63,69);

$dark-blue: rgb(0,102,153);

$cream: #F5EFEB;

// === Font sizes ===
$tiny: 11px;
$small: 13px;
$medium: 15px;
$large: 17px;

// === Page sizes ===
$external-container: 1180px;
$internal-container: 762px;
