:host {
    height: 200px;
    padding: 10px 0;
    border-top: 0.5px solid rgb(138, 138, 138);
    box-sizing: border-box;
    background-color: white;
    display: flex;
    cursor: pointer;

    .post-image-container {
        margin: 0;
        margin-right: 20px;

        .post-image {
            height: 180px;
            width: 270px;
        }
    }

    .post-description-container {

        .post-header-container {

            .post-auther {
                margin: 0;
                margin-bottom: 7px;
                font-family: 'Cormorant SC', serif;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
            }

            .post-header {
                max-height: 60px;
                margin: 0;
                margin-bottom: 7px;
                font-family: 'Libre Bodoni', serif;
                font-size: 22px;
                font-weight: 700;
                line-height: 27px;
                letter-spacing: -0.5px;
                color: rgba(51, 51, 51);
            }
        }

        .text-description {
            width: 472px;
            margin-bottom: 10px;
            font-family: 'Cormorant SC', serif;
            font-size: 17px;
            font-weight: 500;
            color: rgb(105, 105, 105);
        }

        .post-date {
            margin: 0;
            font-family: 'Noto Serif', serif;
            font-size: 12px;
            font-weight: 400;
        }
    }
}
